body{
  max-width: 1363px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  background-image: url("../images/canvas_bg_op40.jpg");
  background-color: #F0EFE0;
  font-size: 18px;
}

/* Landing Page */

.header{
  background: url("../images/header_bg.jpg");
  height: 750px;
  width: 100%;
  /*margin-bottom: -20px;*/
}

.header p{
  font-size: 3.5em;
  color: #232325;
  text-align: center;
  font-family: "PT Serif", serif;
  text-shadow: 0 2px 2px #232325;
  letter-spacing: 10px;
}

.header img{
  margin-left: 25px;
}

.home nav ul{
  display: block;
  list-style-type: none;
  margin-top: 20px;
}

.home nav ul li{
  font-size: 3em;
  text-align: center;
  border-bottom: 2px solid #F0EFE0;
  margin-bottom: 15px;
}

.home nav ul li a{
  color: #F0EFE0;
}

.home nav ul li a:hover{
  color: #3B8221;
}

.home nav ul li:nth-child(4){
  border: none;
}

.wellness{
  text-align: center;
  background-image: url("../images/wellness_bg_op58.jpg");
  width: 100%;
  height: 450px;
  color: #F0EFE0;
}

.wellness div{
  padding: 50px 0 100px 0;
}

.wellness div h1{
  font-size: 3em;
}

.wellness div p{
  font-size: 2em;
  margin: 15px auto;
  width: 400px;
}

.wellness button{
  margin: 15px 0;
  width: 140px;
  height: 50px;
  background-color: #3B8221;
  color: #F0EFE0;
  border: none;
  font-size: 1.5em;
}

.wellness button:hover{
  background: #60B853;
  color: #F0EFE0;
}

.teas h1{
  margin: 80px auto;
  border-bottom: 2px solid #454546;
  width: 300px;
  text-align: center;
  font-size: 4.3em;
}

.teas section{
  margin: 25px 0;
}

.teas h2{
  font-family: 'Bad Script', cursive;
  font-size: 4.1em;
  margin-bottom: 20px;
}

.teas p{
  font-size: 1.7em;
  margin-top: 25px;
  font-weight: 300;
}





/*About*/

header{
  background: url("../images/nav_bg.jpg");
}

header img{
  margin: 10px 0px;
}

header nav{
  margin-top: 125px;
}

header nav ul li a{
  font-size: 3em;
  color: #3B8221;
}

header nav ul li a:hover{
  color: #60B853;
}

.tea_field{
  margin-top: 20px;
  border: 2px solid #3B8221;
  width: 100%;
  padding: 10px 0;
  background: #3B8221;
}

.our_story{
  margin-top: 30px;
}

.our_story h2{
  font-size: 3em;
  font-weight: 300;
}

.our_story p{
  font-size: 2em;
  font-weight: 300;
  margin-top: 40px;
}

.horizontal_line{
  margin: 0 auto;
  content: "";
  border-bottom: 2px solid #454546;
  width: 150px;
  margin-top: 40px;
}

.about{
  margin-top: 50px;
}

.about h2{
  font-size: 3em;
  font-weight: 300;
}

.about p{
  font-size: 2em;
  font-weight: 300;
  margin-top: 40px;
}

/* Contact */

.contact form{
  font-size: .5em;
  margin-top: 50px;
  font-weight: 300;
}

.contact label{
  font-weight: 300;
}

.contact h2{
  font-weight: 300;
}

/* Shop Page*/

.shop_title{
  background: url("../images/shop_header.jpg");
  text-align: center;
  font-family: "Bad Script", cursive;
  margin-top: 50px;
  height: 227px;
  box-shadow: 0 2px 10px #232325;
}

.shop_title h2{
  color: #F0EFE0;
  margin-top: 80px;
  font-size: 7em;
}

.sub_nav{
  padding: 20px;
  background: url("../images/subnav_bg.jpg");
  width: 250px;
  color: #F0EFE0;
  margin: 40px 0 40px 0;
  float: left;
}

.sub_nav ul{
  list-style-type: none;
  padding: 0;
  margin: 30px 0 30px 0;
}

.sub_nav ul li{
  margin: 20px 0 20px 0;
  font-size: 1.25em;
  font-weight: 300;
}

.tea_grid{
  margin: 10px 10px;
}

.tea_grid input{
  text-align: left;
  width: 862px;
  margin: 31px 0 0 89px;
}

.tea_grid div{
  margin: 40px 10px;
  width: 300px;
}

.tea_grid img{
  margin: 0 50px;
}

.tea_grid p{
  text-align: center;
  font-size: 1.14em;
  margin: 5px 0 5px 70px;
}

.tea_grid nav{
  margin-left: 580px;
}

/* Sub-Shop Page*/

.tea_text{
  margin-top: 100px;
}

.tea_text h3{
  font-family: "Bad Script", cursive;
  font-size: 3.2em;
}

.tea_text p{
  font-size: 1.7em;
  font-weight: 300;
}

.pricing p:nth-of-type(1), .pricing p:nth-of-type(2), .pricing button{
  display: inline;
}

.pricing p:nth-of-type(1), .pricing p:nth-of-type(2){
  margin-right: 50px;
}

.tea_text button{
  width: 150px;
  margin-left: 160px;
  color: #F0EFE0;
  background: #3B8221;
  border: none;
}

.pricing{
  margin-top: 40px;
}

.tea_text button:hover{
  background: #60B853;
}


/* Footer */

.footer{
  margin: 50px 0 20px 0;
  clear: both;
}

.footer ul{
  list-style-type: none;
}

.footer ul li{
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 300;
}

.footer p{
  margin-top: 25px;
}

.footer form{
  margin-top: 15px;
}

.footer input{
  padding: 10px;
  width: 200px;
}

.footer button{
  padding: 10px 20px;
  width: 100px;
  height: 43px;
  background: #3B8221;
  color: #F0EFE0;
  font-size: 1.2em;
  border: none;
  margin-left: 10px;
}

.footer h2{
  font-size: 3em;
  font-weight: 300;
}
